<section id="whyme">
    <div class="main-container">
        <div class="content">
            <img class="photo1" src="./assets/whyme-section/IMG_2741.JPG" alt="Photo">
            <div class="info-container">
                <div class="text">
                    <h2>Why Me?</h2>
                    <div class="description">
                        <p>
                            Write some information about yourself that is IT related. Why are you passionate about
                            coding?
                            Highlight your motivation for professional growth and continuous learning. Emphasise your
                            strong
                            problem-solving skills and passion for coding. </p>
                    </div>
                </div>
                <div class="about-me">
                    <div class="about-me-text">
                        <div class="row">
                            <span>I am</span>
                            <div class="card">
                                <div class="location-icon"></div>
                                <span class="text">located in Freiburg</span>
                            </div>
                        </div>
                        <div class="row row--relocate">
                            <img src="./assets/whyme-section/arrow-down-right.svg" alt="Arrow Down Right">
                            <div class="card card--relocate">
                                <div class="baggage-icon"></div>
                                <span class="text">open to relocate</span>
                            </div>
                        </div>

                        <div class="row laptop-row">

                            <div class="card-container">
                                <div class="card laptop">
                                    <div class="laptop-icon"></div>
                                    <span class="text">open to work remote</span>
                                </div>
                                <img src="./assets/whyme-section/arrow-up.svg" alt="Arrow Down Right">
                            </div>
                            <img class="arrow-down-left" src="./assets/whyme-section/arrow-down-left.svg" alt="">
                        </div>
                    </div>
                </div>
                <a href="#contact"><div class="contact-button">Let's talk</div></a>
            </div>
        </div>
    </div>
</section>