* {
    margin: 0;
    text-decoration: none;
}

.main-container {
    padding-left: 105px;
    padding-right: 113px;
}

.content {
    display: flex;
    align-items: center;
    gap: 42px;

    .photo1 {
        height: 452px;
    }
}

.info-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
    height: 100%;
    gap: 16px;

    h2 {
        font-family: 'Roboto Mono';
        font-weight: 500;
        font-style: Medium;
        font-size: 54px;
        line-height: 120%;
        letter-spacing: 0%;
        text-align: right;
        color: #E15544;
        margin: 0;
        margin-bottom: 29px;
    }
}

.text {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

.description {
    display: flex;
    justify-content: flex-end;

    p {
        font-family: 'Roboto Mono';
        font-weight: 400;
        font-size: 16px;
        line-height: 120%;
        letter-spacing: 0%;
        text-align: right;
        color: #02F4BF;
        margin: 0;
        width: 685px;
    }
}

.about-me {
    width: 568px;
}

.about-me-text {
    span {
        color: #E15544;
        font-weight: 700;
        font-style: Bold;
        font-size: 48px;
        line-height: 120%;
        margin: 0;
    }

    .text {
        font-weight: 400;
        font-size: 18px;
        line-height: 120%;
        color: #02F4BF;
        width: 192px;
    }
}

.row {
    display: flex;
    align-items: center;
    width: 568px;
    height: 58px;
    gap: 64px;

    &.row--relocate {
        justify-content: space-between;
        padding-left: 152px;
        padding-right: 55px;
    }
}

.card {
    display: flex;
    align-items: center;
    gap: 17px;

    img {
        height: 41px;
    }

    .location-icon {
        width: 41px;
        height: 41px;
        background-image: url('/assets/whyme-section/icons/location-icon.svg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        transition: transform 0.3s ease;

        &:hover {
            background-image: url('/assets/whyme-section/icons/icon-location-hover.svg');
            transform: scale(1.2);
        }
    }

    .baggage-icon {
        width: 65px;
        height: 65px;
        min-width: 28px;
        background-image: url('/assets/whyme-section/icons/baggage-icon.svg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        transition: transform 0.3s ease;

        &:hover {
            background-image: url('/assets/whyme-section/icons/icon-baggage-hover.svg');
            transform: scale(1.2);
        }
    }

    .laptop-icon {
        width: 100px;
        height: 100px;
        background-image: url('/assets/whyme-section/icons/laptop-icon.svg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;

        &:hover {
            background-image: url('/assets/whyme-section/icons/icon-laptop-hover.svg');
        }
    }

    &.card--relocate {
        width: 130px;

        img {
            height: 49px;
        }
    }
}

.laptop {
    width: 192px;
}

.card-container {
    display: flex;
    gap: 13px;
}

.laptop-row {
    padding-left: 168px;
    display: flex;
    gap: 132px;
}

.contact-button {
    cursor: pointer;
    color: #0B042D;
    padding: 15px 25px;
    background-color: #02F4BF;
    font-size: 18px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 17px;

    &:hover {
        font-weight: 400;
        color: #E15544;
    }
}