.main-container {
    padding-inline: 131px;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 64px;

    .title-section {
        color: #E15544;
        font-weight: 500;
        font-size: 54px;
        line-height: 120%;
        margin-bottom: 5px;
    }
}

.reverse {
    flex-direction: row-reverse;
}

.project-card {
    display: flex;
    gap: 48px;
}

.project-info {
    position: relative;
    bottom: 51px;
    color: #02F4BF;

    h2 {
        font-weight: 700;
        font-size: 48px;
        line-height: 120%;
        margin-bottom: 17px;
    }

    h3 {
        font-weight: 400;
        font-size: 18px;
        line-height: 140%;
        margin-bottom: 40px;
    }

    p {
        font-weight: 400;
        font-size: 18px;
        line-height: 140%;
        margin-bottom: 48px;
    }
}

.project-img {
    width: 580px;

}

.project-links {
    display: flex;
    gap: 24px;

    .github-link {
        font-size: 18px;
        font-weight: 500;
        line-height: 120%;
        color: #E15544;
        width: 125px;
        height: 52px;
        padding-top: 15px;
        padding-right: 30px;
        padding-bottom: 15px;
        padding-left: 30px;
        border-width: 1px;
        text-decoration: none;
        border: 1px solid #02F4BF;
        display: flex;
        align-items: center;
        justify-content: center;
        &:hover {
            color: #02F4BF;
            transition: ease-in-out 300ms;
        }

    }

    .live-test-link {
        font-size: 18px;
        font-weight: 500;
        color: #0B042D;
        width: 160px;
        height: 52px;
        padding-top: 15px;
        padding-right: 30px;
        padding-bottom: 15px;
        padding-left: 30px;
        text-decoration: none;
        background: #02F4BF;
        display: flex;
        align-items: center;
        justify-content: center;
        &:hover {
            color: #E15544;
            transition: ease-in-out 300ms;
        }
    }
}