<section id="projects">
    <div class="main-container">
        <div class="content">
            <h2 class="title-section">{{ 'projects.title' | translate }}</h2>
            <div class="project-card">
                <img src="./assets/projects-section/join-project.png" alt="Project Image" class="project-img">
                <div class="project-info">
                    <h2 class="project-title">Join</h2>
                    <h3>Angular | TypeScript | HTML | CSS | Firebase </h3>
                    <p class="project-description">{{ 'projects.join.description' | translate }}</p>
                    <div class="project-links">
                        <a class="github-link" target="_blank"
                            href="https://github.com/RaulCiucalau/Join-main">GitHub</a>
                        <a class="live-test-link" href="#">Live Test</a>
                    </div>
                </div>
            </div>
            <div class="project-card reverse">
                <img src="./assets/projects-section/game-project.png" alt="Project Image" class="project-img">
                <div class="project-info">
                    <h2 class="project-title">Sharky Splash</h2>
                    <h3>JavaScript | HTML | CSS</h3>
                    <p class="project-description">{{ 'projects.sharky.description' | translate }}</p>
                    <div class="project-links">
                        <a class="github-link" target="_blank" href="https://github.com/RaulCiucalau/Sharky">GitHub</a>
                        <a class="live-test-link" href="#">Live Test</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>