<div class="main-container">
    <div class="content">
        <h1>My Projects</h1>
        <div class="project-card">
            <img src="./assets/projects-section/join-project.jpg" alt="Project Image" class="project-img">
            <div class="project-info">
                <h2 class="project-title">Join</h2>
                <h3>Angular | TypeScript | HTML | CSS | Firebase </h3>
                <p class="project-description">Task manager inspired by the Kanban System. Create and organize tasks
                    using drag and drop functions, assign users and categories. </p>
                <div class="project-links">
                    <a class="github-link" href="#">GitHub</a>
                    <a class="live-test-link" href="#">Live Test</a>
                </div>
            </div>
        </div>
        <div class="project-card reverse">
            <img src="./assets/projects-section/game-project.JPG" alt="Project Image" class="project-img">
            <div class="project-info">
                <h2 class="project-title">Sharky Splash</h2>
                <h3>JavaScript | HTML | CSS</h3>
                <p class="project-description">2D game featuring a shark character navigating through obstacles. Collect coins and defeat enemies to achieve the highest score.</p>
                <div class="project-links">
                    <a class="github-link" href="#">GitHub</a>
                    <a class="live-test-link" href="#">Live Test</a>
                </div>
            </div>
        </div>
    </div>
</div>