<div class="main-container">
    <div class="content">
        <h2>{{ 'references.heading' | translate }}</h2>

        <div class="references-cards">
            <img src="./assets/references-section/arrow-right.svg" alt="Arrow Right">
            <div class="reference-card">
                <div class="author-info">
                    <h3 class="reference-author">Noah Mueller</h3>
                    <p class="reference-project">Project Sharkie</p>
                </div>
                <p class="reference-text">
                    ‘’Raul had to develop, format and deliver content in collaboration with the team members.He is
                    a reliable and friendly person.’’
                </p>
            </div>
            <div class="reference-card">
                <div class="author-info">
                    <h3 class="reference-author">Evelyn Marx</h3>
                    <p class="reference-project">Project Pollo Loco</p>
                </div>
                <p class="reference-text">
                    ‘’ He is a trustworthy teamplayer and can cope with the stress of deadlines. Structured work and
                    clear code. ’’
                </p>
            </div>
            <div class="reference-card">
                <div class="author-info">
                    <h3 class="reference-author">James Rugman</h3>
                    <p class="reference-project">Project Join</p>
                </div>
                <p class="reference-text">
                    ‘’ He is a reliable and friendly person. Work in a structured way and write a clear code. I
                    recommend him as a colleague.’’
                </p>
            </div>
        </div>
    </div>
</div>