* {
    color: #E15544;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 92px;
    padding-top: 24px;
    padding-right: 140px;
    padding-bottom: 24px;
    padding-left: 140px;
    gap: 58px;

    a {
        text-decoration: none;
        font-size: 23px;
        font-weight: 500;
    }
}

.header-links-container {
    display: flex;
    gap: 48px;
    align-items: center;

    .logo-title {
        font-family: Handjet;
        font-weight: 700;
        font-size: 54px;
        line-height: 100%;
        letter-spacing: 5px;
    }
}

.page-sections {
    display: flex;
    gap: 52px;
}

.translate-container {
    display: flex;
    gap: 6px;
    cursor: pointer;

    span {
        font-family: Poppins;
        font-weight: 400;
        font-style: Regular;
        font-size: 18px;
        line-height: 120%;
        letter-spacing: 0%;
    }

    a {
        font-weight: 700;
        font-size: 18px;
    }
}