* {
    color: #E15544;
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 92px;
    padding-block: 24px;
    padding-inline: 140px;
    gap: 58px;

    a {
        text-decoration: none;
        font-size: 22px;
        font-weight: 500;
    }
}

.header-links-container {
    display: flex;
    gap: 48px;
    align-items: center;

    .logo-title {
        cursor: pointer;
        font-family: Handjet;
        font-weight: 700;
        font-size: 54px;
        line-height: 100%;
        letter-spacing: 5px;
    }
}

.page-sections {
    display: flex;
    gap: 52px;

    a {
        &:hover {
            text-decoration: underline;
            color: #02F4BF;
        }
    }
}

.translate-container {
    display: flex;
    gap: 6px;
    cursor: pointer;

    span {
        font-family: Poppins;
        font-weight: 400;
        font-style: Regular;
        font-size: 18px;
        line-height: 120%;
        letter-spacing: 0%;
    }

    a {
        font-weight: 700;
        font-size: 18px;

        &:hover {
            color: #02F4BF;
            transition: ease-in-out 0.2s;
        }
    }
}