<header>
    <div class="header-links-container">
        <div class="logo-title">&lt;RC&gt;</div>
        <div class="page-sections">
            <a href="#whyme">{{ 'header.whyme' | translate }}</a>
            <a href="#myskills">{{ 'header.skills' | translate }}</a>
            <a href="#projects">{{ 'header.projects' | translate }}</a>
            <a href="#contact">{{ 'header.contact' | translate }}</a>
        </div>
    </div>
    <div class="translate-container">
        <a class="translate" (click)="switchLanguage('de')" [class.active]="translationService.getCurrentLanguage() === 'de'">DE</a>
        <span>|</span>
        <a class="english-version" (click)="switchLanguage('en')" [class.active]="translationService.getCurrentLanguage() === 'en'">EN</a>
    </div>
</header>