<section id="main">
    <div class="main-container">
        <div class="content">
            <a href="#contact">
                <div class="contact-button">CONTACT ME</div>
            </a>
            <a href="#whyme"><img class="arrow-down" src="./assets/hero-section/arrow-down.svg" alt="Arrow Down"></a>
            <div class="title">
                <h2>FRONTEND ENTWICKLER</h2>
                <h1>Raul Ciucalau</h1>
            </div>
            <img class="photo1" src="./assets/hero-section/photo1.png" alt="">
        </div>
    </div>
</section>