<section id="main">
    <div class="main-container">
        <div class="content">
            <a class="contact-link-container" href="#contact">
                <div class="contact-button" [class.english]="translationService.getCurrentLanguage() === 'en'">{{
                    'hero.button' | translate }}</div>
            </a>
            <div class="arrow-container">
                <a href="#whyme"><img class="arrow-down" src="./assets/hero-section/arrow-down.svg"
                        alt="Arrow Down"></a>
            </div>
            <div class="hero-content">
                <div class="title">
                    <h2>{{ 'hero.title' | translate }}</h2>
                    <h1>{{ 'hero.name' | translate }}</h1>
                </div>
                <img class="photo1" src="./assets/hero-section/photo1.png" alt="">
            </div>
        </div>
    </div>
</section>