* {
    margin: 0;
    box-sizing: border-box;
}

.main-container {
    padding-left: clamp(10px, 5vw, 105px);
    padding-right: clamp(10px, 5vw, 109px);
    box-sizing: border-box;

    h2 {
        font-weight: 500;
        font-style: Medium;
        font-size: clamp(32px, 4vw, 54px);
        line-height: 120%;
        color: #E15544;
    }
}

.content {
    max-width: 1219px;
    width: 100%;
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: clamp(100px, 3vw, 32px);
    row-gap: clamp(50px, 8vw, 100px);
    margin-top: clamp(20px, 3vw, 40px);
    align-content: stretch;
    justify-content: flex-start;
    align-items: center;

    img {
        width: 100%;
        max-width: 100px;
        height: auto;
        justify-self: center;

        &:hover {
            transform: scale(1.1);
            transition: transform 250ms ease;
        }
    }
}

.challenge-me-wrapper {
    position: relative;
    display: flex;
    justify-content: center;

    .challenge-me-text {
        position: absolute;
        left: 50%;
        top: 100%;
        transform: translateX(-50%);
        margin-top: 20px;
        white-space: nowrap;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s ease, visibility 0.3s ease;
        pointer-events: none;
        font-size: 18px;
        line-height: 1.5;
        color: #ffffff;
        text-align: center;
        background-color: #1F1F1F;
        padding: 12px 20px;
        border-radius: 12px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);

        &::before {
            content: '';
            position: absolute;
            bottom: 100%;
            left: 50%;
            transform: translateX(-50%);
            border: 10px solid transparent;
            border-bottom-color: #1F1F1F;
        }
    }

    &:hover {
        .challenge-me-icon {
            transform: scale(1.1);
            transition: transform 0.3s ease;
        }

        .challenge-me-text {
            opacity: 1;
            visibility: visible;
        }
    }
}

.contact-button {
    cursor: pointer;
    color: #0B042D;
    padding: 15px 25px;
    background-color: #02F4BF;
    font-size: clamp(16px, 1.3vw, 18px);
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 17px;
    text-decoration: none;
}

.responsive-container {
    display: none;
}

@media (max-width: 1542px) {
    .challenge-me-wrapper {
        .challenge-me-text {
            left: 68% !important;
            top: -10% !important;
            transform: none !important;
            margin-top: 0 !important;
            margin-left: 5px;
            font-size: 13px !important;
            padding: 8px 12px;
            white-space: normal !important;
            max-width: 200px !important;
            background: #1F1F1F;
            border-radius: 20px;

            &::before {
                display: none;
            }
        }
    }
}

@media (max-width: 1024px) {
    .main-container {
        display: flex;
        flex-direction: column;
        align-items: center;

        h2 {
            text-align: center;
        }
    }

    .skills-grid {
        grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
        justify-items: center;

        img {
            max-width: 62px;
        }

        img[src*="icon-angular"] {
            content: url('/assets/myskills-section/icons/icon-blank-angular.svg');
        }

        img[src*="icon-typescript"] {
            content: url('/assets/myskills-section/icons/icon-blank-typescript.svg');
        }

        img[src*="icon-javascript"] {
            content: url('/assets/myskills-section/icons/icon-blank-javascript.svg');
        }

        img[src*="icon-html"] {
            content: url('/assets/myskills-section/icons/icon-blank-html.svg');
        }

        img[src*="icon-css"] {
            content: url('/assets/myskills-section/icons/icon-blank-css.svg');
        }

        img[src*="icon-api"] {
            content: url('/assets/myskills-section/icons/icon-blank-api.svg');
        }

        img[src*="icon-firebase"] {
            content: url('/assets/myskills-section/icons/icon-blank-firebase.svg');
        }

        img[src*="icon-git"] {
            content: url('/assets/myskills-section/icons/icon-blank-git.svg');
        }

        img[src*="icon-scrum"] {
            content: url('/assets/myskills-section/icons/icon-blank-scrum.svg');
        }

        img[src*="icon-materialdesign"] {
            content: url('/assets/myskills-section/icons/icon-blank-materialdesign.svg');
        }

        .challenge-me-icon {
            content: url('/assets/myskills-section/icons/icon-blank-challenge-me.svg') !important;
        }
    }
}

@media (max-width: 767px) {
    .responsive-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-top: 30px;
        gap: 12px;

        a {
            text-decoration: none;
        }

        .arrow-down {
            max-width: 20px;
        }

        .text-mobile {
            font-size: 14px;
            text-align: center;
            color: #02F4BF;
        }
    }

    .contact-button {
        align-self: center;
        width: fit-content;
        padding-inline: 20px;
        padding-block: 12px;
        font-weight: 400;
        font-size: 14px;
    }

    .main-container {
        h2 {
            text-align: center;
        }
    }

    .skills-grid {
        grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
        gap: clamp(12px, 4vw, 20px);
        row-gap: clamp(30px, 6vw, 50px);

        img {
            max-width: 45px;

            &:hover {
                transform: none !important;
            }
        }
    }

    .challenge-me-wrapper {

        .challenge-me-text {
            font-size: clamp(12px, 3vw, 14px);
            padding: 8px 12px;
            white-space: normal;
            max-width: 200px;
        }
    }
}



@media (max-width: 420px) {

    .responsive-container {
        display: flex;
    }
}