<section id="myskills">
    <div class="main-container">
        <div class="content">
            <h2>{{ 'myskills.title' | translate }}</h2>
            <div class="skills-grid">
                <img src="./assets/myskills-section/icons/icon-angular.svg" alt="Angular Icon">
                <img src="./assets/myskills-section/icons/icon-typescript.svg" alt="TypeScript Icon">
                <img src="./assets/myskills-section/icons/icon-javascript.svg" alt="JavaScript Icon">
                <img src="./assets/myskills-section/icons/icon-html.svg" alt="HTML Icon">
                <img src="./assets/myskills-section/icons/icon-css.svg" alt="CSS Icon">
                <img src="./assets/myskills-section/icons/icon-api.svg" alt="API Icon">
                <img src="./assets/myskills-section/icons/icon-firebase.svg" alt="Firebase Icon">
                <img src="./assets/myskills-section/icons/icon-git.svg" alt="Git Icon">
                <img src="./assets/myskills-section/icons/icon-scrum.svg" alt="Scrum Icon">
                <img src="./assets/myskills-section/icons/icon-materialdesign.svg" alt="Material Design Icon">
                <div class="challenge-me-wrapper">
                    <img class="challenge-me-icon" src="./assets/myskills-section/icons/icon-challenge-me.svg"
                        alt="Challenge me Icon">
                    <span class="challenge-me-text" [innerHTML]="'myskills.challenge' | translate"></span>
                </div>
            </div>
            <div class="responsive-container">
                    <img class="arrow-down" src="./assets/myskills-section/arrow_down.svg" alt="">
                    <span class="text-mobile">I am always happy to learn new technologies, just tell me what you need.</span>
                    <a href="#contact">
                        <div class="contact-button">{{ 'whyme.button' | translate }}</div>
                    </a>
                </div>
        </div>
    </div>
</section>