app-header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background: linear-gradient(to bottom, #0B042D 63%, transparent);
    display: flex;
    justify-content: center;
}