app-myskills-section, app-whyme-section, app-projects-section {
    display: block;
    margin-top: 104px;
    height: auto;
}

app-references-section {
    display: block;
    margin-top: 37px;
    height: auto;
}

app-contact-section {
    display: block;
    margin-top: 140px;
    margin-bottom: 88px;
    height: auto;
}

@media (max-width: 1024px) {
    app-myskills-section, app-whyme-section, app-projects-section {
        margin-top: 56px;
    }

    app-references-section {
        margin-top: 45px;
    }

    app-contact-section {
        margin-top: 104px;
        margin-bottom: 64px;
    }
}