* {
    margin: 0;
    scroll-behavior: smooth;
}

.main-container {
    padding-inline: 131px;
}

.content {
    position: relative;
}

.contact-text {
    display: flex;
    gap: 66px;
    align-items: center;

}

.contact-header {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
    gap: 25px;

    .title-section {
        max-width: 600px;
        gap: 24px;
        display: flex;
        align-items: flex-end;

        h1 {
            color: #E15544;
            font-weight: 500;
            font-size: 50px;
            line-height: 120%;
            display: flex;
            align-items: center;
            gap: 20px;

            .arrow-icon {
                width: 60px;
                height: auto;
            }
        }
    }


    .description {
        color: #02F4BF;
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        width: 472px;
    }


    .contact-info {
        display: flex;
        flex-direction: column;
        gap: 16px;

        .email,
        .phone {
            cursor: pointer;
            display: flex;
            align-items: center;
            gap: 12px;

            img {
                width: 24px;
                height: 24px;

                &:hover {
                    filter: brightness(0) saturate(100%) invert(77%) sepia(79%) saturate(2027%) hue-rotate(128deg) brightness(101%) contrast(98%);
                }
            }

            span {
                color: #02F4BF;
                font-weight: 400;
                font-size: 16px;
                line-height: 120%;
            }
        }
    }
}

.arrow-up {
    left: clamp(0px, 20vw, 254px);
    cursor: pointer;
    transition: transform 0.3s ease;
    padding: 4px;

    &:hover {
        filter: brightness(0) saturate(100%) invert(77%) sepia(79%) saturate(2027%) hue-rotate(128deg) brightness(101%) contrast(98%);
        border: 1px solid #02F4BF;
    }
}

.input-field {
    width: 500px;
}

.textarea-field {
    width: 630px;
    max-width: 100%;
    height: 134px;
    resize: none;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 32px;

    .form-inputs {
        display: flex;
        justify-content: space-between;
    }

    .form-row {
        display: flex;
        flex-direction: column;
        gap: 32px;
    }

    .input-wrapper,
    .textarea-wrapper {
        position: relative;

        .warning-icon,
        .done-icon {
            position: absolute;
            right: 6px;
            top: 50%;
            transform: translateY(-50%);
            width: 24px;
            height: 24px;
            pointer-events: none;
        }
    }

    .textarea-wrapper {

        .warning-icon,
        .done-icon {
            top: 14px;
            transform: none;
        }
    }

    .success-message {
        color: #02F4BF;
        font-family: 'Roboto Mono';
        font-weight: 400;
        font-size: 16px;
        line-height: 120%;
        margin-top: 16px;
        animation: fadeIn 0.3s ease-in;
    }


    .input-field,
    .textarea-field {
        background: transparent;
        border: 1px solid #02F4BF;
        color: #02F4BF;
        font-family: 'Roboto Mono';
        font-weight: 400;
        font-size: 16px;
        line-height: 120%;
        padding: 15px 32px;

        &::placeholder {
            color: #02F4BF;
            opacity: 0.8;
        }

        &.error {
            border-color: #F92103;

            &::placeholder {
                color: #F92103;
                opacity: 1;
            }
        }

        &.valid {
            border-color: #02F4BF;
            color: #02F4BF;
        }

        &:focus {
            outline: none;

            &::placeholder {
                opacity: 0;
            }
        }
    }
}

.form-footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 20px;
}

.privacy-check {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;

    .checkbox-input {
        display: none;
    }

    .checkbox {
        background-image: url("/assets/contact-section/check_box_outline_blank.svg");
        width: 30px;
        height: 24px;
        background-size: contain;
        background-repeat: no-repeat;
        cursor: pointer;
    }

    .checkbox-input:checked+.checkbox {
        background-image: url("/assets/contact-section/check-box-focus.svg") !important;
    }

    .checkbox-input:checked:hover+.checkbox {
        background-image: url("/assets/contact-section/check-box-focus.svg") !important;
    }

    .checkbox-input:hover+.checkbox {
        background-image: url("/assets/contact-section/check_box_outline_hover.svg");
    }

    .checkbox:hover {
        background-image: url("/assets/contact-section/check_box_outline_hover.svg");
    }

    .checkbox-input:focus+.checkbox {
        background-image: url("/assets/contact-section/check-box-focus.svg");
    }

    .checkbox-label {
        color: #02F4BF;
        font-weight: 400;
        font-size: clamp(12px, 1.8vw, 18px);
        line-height: 120%;
        cursor: pointer;

        ::ng-deep a {
            color: #E15544;
            text-decoration: none;

            &:hover {
                font-weight: 700;
            }
        }
    }
}

.send-button {
    min-width: 104px;
    height: 52px;
    border: 1px solid #827B7B;
    color: #827B7B;
    background-color: transparent;
    cursor: not-allowed;
    padding: 15px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto Mono';
    font-size: 16px;
    font-weight: 400;
    opacity: 0.5;
    transition: all 0.3s ease;

    &.enabled {
        border-color: #02F4BF;
        color: #E15544;
        cursor: pointer;
        opacity: 1;

        &:hover {
            color: #02F4BF;
            border-color: #02F4BF;
            transition: ease-out 200ms;
        }
    }

    &:disabled {
        cursor: not-allowed;
        opacity: 0.5;
    }
}

.scroll-up {
    position: absolute;
    right: 0;
    bottom: -30px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: transform 0.3s ease;

    &:hover {
        transform: translateY(-5px);
    }
}

.wrapper-text {
    display: flex;
    justify-content: space-between;
}

.d-none-mobile {
    display: none !important;
}

.checkbox-container {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    word-break: break-all;
}

@media (max-width: 1434px) {
    .main-container {
        padding-inline: clamp(20px, 10vw, 131px);
    }

    .form-inputs {
        flex-direction: column;
        gap: 32px;
        align-items: flex-start;
    }

    .contact-text {
        flex-direction: column;
        align-items: flex-start;
        gap: 22px;
    }

    .contact-info {
        position: static !important;
    }

    .textarea-field {
        width: 500px;
    }
}

@media (max-width: 1024px) {
    .main-container {
        padding-inline: clamp(10px, 5vw, 20px);
    }

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .contact-header {
        align-items: center;
        order: 1;
        width: 100%;

        .title-section h1 {
            font-size: clamp(32px, 6vw, 42px);
        }
    }

    .contact-form {
        order: 2;
        width: 100%;
    }

    .contact-text {
        display: flex;
        align-items: center;
        order: 1;
    }

    .contact-text .description {
        width: 100%;
    }

    .form-inputs {
        flex-direction: column;
        align-items: center;
    }

    .title-section {
        img {
            display: none;
        }
    }

    .success-message {
        font-size: 14px;
        margin-top: 12px;
        text-align: center;
    }

    .contact-info {
        display: flex;
        align-items: center;
        order: 3;
        gap: 18px;
        flex-direction: column;
    }

    .textarea-field {
        width: 500px;
    }

    .form-footer {
        flex-direction: column;
        align-items: center;
    }

    .arrow-up {
        position: static;
        margin: 0;
    }

    .d-none-text {
        display: none !important;
    }

    .wrapper-text-mobile {
        color: #02F4BF;
        order: 2;
        display: flex !important;
        flex-direction: column;
        width: 100%;
        a {
            width: 30px;
            height: 58px;
        }
    }

    .email {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 10px;
    }

    .phone {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 10px;
    }

    .arrow-container {
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }
}

@media (max-width: 600px) {
    .form-inputs {
        width: 100%;
        gap: 16px !important;
    }

    .success-message {
        font-size: 12px;
        margin-top: 8px;
        padding: 0 10px;
    }

    .textarea-field {
        width: 100%;
        height: 144px;
    }

    .input-field {
        width: 100%;
    }

    .form-row {
        width: 100%;
        gap: 16px !important;
    }

    .textarea-wrapper {
        width: 100%;
    }

    .description {
        width: 100% !important;
    }

    .send-button {
        min-width: auto;
        width: 79px;
        height: 43px;
    }

    .contact-form {
        gap: 16px !important;
    }
}