<section id="contact" class="contact-me">
    <div class="main-container">
        <div class="content">
            <div class="contact-header">
                <div class="title-section">
                    <h1>Contact me</h1>
                    <img src="./assets/contact-section/arrow-right-down.svg" alt="">
                </div>
                <div class="contact-text">
                    <p class="description">Encourage people to contact you and describe what role you are interested in.
                        Express interest in contributing to a new project.</p>
                    <div class="contact-info">
                        <div class="email">
                            <img src="./assets/contact-section/icons/mail-icon.svg" alt="Email Icon">
                            <span>E-mail: mustermail&#64;gmail.com</span>
                        </div>
                        <div class="phone">
                            <img src="./assets/contact-section/icons/phone-icon.svg" alt="Phone Icon">
                            <span>Tel: 0157 123 456 68</span>
                        </div>
                    </div>
                    <a href="#main"><img class="arrow-up" src="./assets/contact-section/arrow-up.svg" alt=""></a>
                </div>


            </div>
            <form class="contact-form">
                <div class="form-row">
                    <input type="text" placeholder="Your Name" class="input-field" required>
                    <input type="email" placeholder="Your Email" class="input-field" required>
                </div>
                <textarea placeholder="Your Message" class="textarea-field" required></textarea>
            </form>
            <div class="form-footer">
                <div class="privacy-check">
                    <div class="checkbox"></div>
                    <label for="privacy">I've read the <a href="#">privacy policy</a> and agree to the processing of my
                        data as outlined.</label>
                </div>
                <span class="send-button">Send</span>
            </div>
        </div>
    </div>
</section>