<section id="contact" class="contact-me">
    <div class="main-container">
        <div class="content">
            <div class="contact-header">
                <div class="title-section">
                    <h1>{{ 'contact.title' | translate }}</h1>
                    <img src="./assets/contact-section/arrow-right-down.svg" alt="">
                </div>
                <div class="contact-text">
                    <p class="description">{{ 'contact.description' | translate }}</p>
                    <div class="contact-info">
                        <div class="email">
                            <img src="./assets/contact-section/icons/mail-icon.svg" alt="Email Icon">
                            <span>E-mail: mustermail&#64;gmail.com</span>
                        </div>
                        <div class="phone">
                            <img src="./assets/contact-section/icons/phone-icon.svg" alt="Phone Icon">
                            <span>Tel: 0157 123 456 68</span>
                        </div>
                    </div>
                    <a href="#main"><img class="arrow-up" src="./assets/contact-section/arrow-up.svg" alt=""></a>
                </div>


            </div>
            <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm" class="contact-form">
                <div class="form-inputs">
                    <div class="form-row">
                        <div class="input-wrapper">
                            <input #name="ngModel" [(ngModel)]="contactData.name" name="name" type="text"
                                [placeholder]="name.invalid && name.touched ? 'Your name is required' : ('contact.form.name' | translate)"
                                [class.error]="name.invalid && name.touched" [class.valid]="name.valid && name.touched"
                                class="input-field" required>
                            @if (name.invalid && name.touched) {
                            <img src="./assets/contact-section/icons/warning-icon.svg" alt="Warning"
                                class="warning-icon">
                            }
                            @if (name.valid && name.touched) {
                            <img src="./assets/contact-section/icons/done-icon.svg" alt="Valid" class="done-icon">
                            }
                        </div>
                        <div class="input-wrapper">
                            <input #email="ngModel" [(ngModel)]="contactData.email" name="email" type="email"
                                [placeholder]="email.invalid && email.touched ? 'Your email is required' : ('contact.form.email' | translate)"
                                [class.error]="email.invalid && email.touched"
                                [class.valid]="email.valid && email.touched" class="input-field" required
                                pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}">
                            @if (email.invalid && email.touched) {
                            <img src="./assets/contact-section/icons/warning-icon.svg" alt="Warning"
                                class="warning-icon">
                            }
                            @if (email.valid && email.touched) {
                            <img src="./assets/contact-section/icons/done-icon.svg" alt="Valid" class="done-icon">
                            }
                        </div>
                    </div>
                    <div class="textarea-wrapper">
                        <textarea #message="ngModel" minlength="4" [(ngModel)]="contactData.message" name="message"
                            [placeholder]="message.invalid && message.touched ? 'Your message is required' : ('contact.form.message' | translate)"
                            [class.error]="message.invalid && message.touched"
                            [class.valid]="message.valid && message.touched" class="textarea-field" required></textarea>
                        @if (message.invalid && message.touched) {
                        <img src="./assets/contact-section/icons/warning-icon.svg" alt="Warning" class="warning-icon">
                        }
                        @if (message.valid && message.touched) {
                        <img src="./assets/contact-section/icons/done-icon.svg" alt="Valid" class="done-icon">
                        }
                    </div>
                </div>
                <div class="form-footer">
                    <div class="privacy-check">
                        <input [(ngModel)]="privacyAccepted" type="checkbox" id="privacy" name="privacy"
                            class="checkbox-input" required>
                        <label for="privacy" class="checkbox"></label>
                        <span class="checkbox-label" [innerHTML]="'contact.privacy' | translate"></span>
                    </div>
                    <button type="submit" class="send-button" [class.enabled]="privacyAccepted"
                        [disabled]="!privacyAccepted">{{ 'contact.send' | translate }}</button>
                </div>
            </form>
        </div>
    </div>
</section>