@font-face {
    font-family: 'Roboto Mono';
    src: url('/assets/fonts/RobotoMono-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

@font-face {
    font-family: 'Handjet';
    src: url('/assets/fonts/Handjet-VariableFont_ELGR,ELSH,wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('/assets/fonts/Poppins-Regular.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

body{
    margin: 0;
    overflow-y: auto;
    background: #120B35;
    color: whitesmoke;
    font-family: 'Roboto Mono', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

app-root {
    max-width: 1440px;
    width: 100%;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}