@font-face {
    font-family: 'Roboto Mono';
    src: url('/assets/fonts/RobotoMono-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

@font-face {
    font-family: 'Handjet';
    src: url('/assets/fonts/Handjet-VariableFont_ELGR,ELSH,wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('/assets/fonts/Poppins-Regular.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

body{
    margin: 0;
    overflow: hidden;
    background: #120B35;
    color: whitesmoke;
    font-family: 'Roboto Mono', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

* {
    box-sizing: border-box;
}