<footer>
    <div class="footer-container">
        <div class="footer-content">
            <div class="logo-container">
                <div class="logo-title">&lt;RC&gt;</div>
                <div class="logo-text">frontend developer</div>
            </div>
            <span>© 2025 Raul Ciucalau</span>
            <div class="contact-links">
                <a href="www.github.com/raulciucalau"><img src="./assets/shared/footer/gitithub-button.svg" alt=""></a>
                <a href="mailto:raul.ciucalau@example.com"><img src="./assets/shared/footer/email-button.svg" alt=""></a>
                <a href="www.linkedin.com/in/raulciucalau"><img src="./assets/shared/footer/linkedin-button.svg" alt=""></a>
            </div>
        </div>
        <div class="legal-links">
            <a routerLink="/legal-notice">Legal Notice</a>
            <div>Privacy Policy</div>
        </div>
    </div>
</footer>